p{
    text-align: center;
    margin: 100px 280px;
    font-size: 18px;
    border-style: solid;
    border-color: crimson;
    border-radius: 15px;
}

.calculo{
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    background-color: rgb(230, 225, 225);
}

.resultado{
    color: rgb(85, 124, 27);
    font-weight: bold;
    margin-right: 200px;
    
}