node_modules
QA Automation/section3Framework/framework/configs/textBoxData.json
QA Automation/section3Framework/.env
QA Automation/section4AllureReport/node_modules/
QA Automation/framework/configs/textData.json
