/* elemento */
body{
    background-color: rgb(188, 188, 238)
}

/* clase */
.principal{
    text-align: center;
    margin: 40px 100px;   
    background-color: rgb(89, 112, 144);
}

/* id */
#informacion{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* atributo */
a[href*=".google"]{
    background-color: crimson;
}

/* pseudo-elementos */
.principal::first-letter{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-weight: bold ;
}

/*  pseudo-clases estado*/
h1:hover{
    font-size: 40px;
    color: brown;
    font-weight: bold;
}
