p{
    text-align: center;
}

.normal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.destacado{
    background-color: khaki;
    margin: 30px 200px 30px 200px ;
    padding: 20px;
    border: 3px;
    border-style: solid;
    border-color: rgb(123, 102, 7);
    font-family: 'Courier New', Courier, monospace;

}